:root {
  --black: #000000;
  --mine-shaft: #333333;
  --dove-gray: #666666;
  --dusty-gray: #999999;

  --royal-purple: #7943A4;
  --amethyst: #9D5CD0;
  --heliotrope: #C283F3;
  --biloba-flower: #D1A9F0;

  --apple: #30BF39;

  --curious-blue: #26A5E4;

  --thunderbird: #D11616;

  --silver: #CACACA;
  --gallery: #ECECEC;
  --white: #FFFFFF;
}
